.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  /* background-color: yellow; */
  /* background-color: #f9fafb; */
}



.title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #1f2937;
}

.footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: #6b7280;
}

.footer a {
  color: var(--primary-color);
  font-weight: 600;
}
